.App {
  text-align: center;
  position: relative;
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100px;
  height: 100px;
  transform: translate(-50%, -50%);
  opacity: 0;
  visibility: hidden;
  transition-delay: 0.2s;
}
.loader .icon {
  width: 120px;
  height: 120px;
  position: absolute;
  left: 0;
  top: 0;
  background-size: 110px 110px;
  background-image: url('./images/spinner.svg');
}
.is-loading .loader {
  opacity: 1;
  z-index: 5;
  visibility: visible;
  transition: opacity 0.3s linear, visibility 0.3s linear;
}
.is-loading .loader .icon {
    animation: spin 500ms infinite linear;
 }